DATABASE_URL==postgresql://postgres:1234@localhost:5432/todo_db
FRONTEND_URL=http://localhost:3001

CLEANUP_CRON=*/5 * * * * 
EMPTY_LIST_TTL_MINUTES=10
INACTIVE_LIST_TTL_DAYS=7

MAX_TODOS_PER_LIST=100

NODE_ENV=development
GLOBAL_DELAY_MS=1000